*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!apps/
apps/*
!apps/viewer/
apps/viewer/*
!apps/viewer/package.json
!apps/viewer/index.html
!apps/viewer/vite.config.ts
!apps/viewer/tsconfig.json
!apps/viewer/tsconfig.*.json
!apps/viewer/src/
apps/viewer/src/*
!apps/viewer/src/*.ts
!apps/viewer/src/server/
!apps/viewer/src/server/**
!apps/viewer/src/shared/
!apps/viewer/src/shared/**
!apps/viewer/src/client/
!apps/viewer/src/client/**
